<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ .Params.title }}</title>
  <meta name="author" content="{{ .Site.Author.name }}">
  <link rel="icon" type="image/x-icon" href="/images/favicon.ico">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="{{ .Site.BaseURL }}css/custom.min.css">
  <link rel="stylesheet" href="{{ .Site.BaseURL }}css/home.css">

  <script src="{{ .Site.BaseURL }}js/particles.min.js"></script>

  <meta name="title" content="{{ .Params.title }}">
  <meta name="description" content="{{ .Params.description }}">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="{{ .Params.title }}">
  <meta name="twitter:description" content="{{ .Params.description }}">
  <meta name="twitter:image" content="{{ .Params.image }}"> 
  <meta property="og:image" content="{{ .Params.image }}">
  <meta property="og:title" content="{{ .Params.title }}">
  <meta property="og:description" content="{{ .Params.description }}">

</head>
<body>
  <div id="particles-js"></div>
