<br>
<img src="assets/images/profile.jpg" class="circle-avatar">
<br>
<!-- <div id="terminal"></div> -->
<div class="card">
  <div class="card-block">
    <h1 style="text-align: center">Hi, I'm Nick</h1>
    <h2 style="text-align: center">Software Developer | Security Researcher | Geek</h2>
    <p style="text-align: center">This server is part of the <a href="https://torproject.org">Tor</a> network.
      We've transfered over 652 GB of encryped data since last reset.</p>
    <p style="text-align: center">Relay Fingerprint: 86D16D751953D24F4D3880015AC47B24503F62C7 | Nickname: IPreferFreedom</p>
  </div>
</div>
<br>
<div class="card">
  <div class="card-block">
    <div class="text-canvas">
      <h2>Background</h2>
      <p>Hi I'm Nick! I'm coder, hacker, and overall tech enthusiast specializing in cyber security. </p>
    </div>
  </div>
</div>
<br>
<div class="card">
  <div class="card-block">
    <div class="text-canvas">
      <h2>Education and Certifications</h2>
      <div>
        <div style="display: inline-block; margin-right: 3em">
          <p>B.S. Computer Science<br>
             Illinois State University</p>
        </div>
        <div style="display: inline-block">
          <p>GPEN (Giac Penetration Tester)<br>
             <a href="https://www.giac.org/certified-professional/nicholas-frichette/163907">My Entry in the professionals list</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
