<br>
<img src="/images/home/profile.jpg" class="circle-avatar">
<br>
<!-- <div id="terminal"></div> -->
<div class="card">
  <div class="card-block">
    <div class="text-canvas">
      <h1 style="text-align: center">Hi, I'm Nick</h1>
      <h2 style="text-align: center">Software Developer | Security Researcher | Geek</h2>
      <p style="text-align: center">This server is part of the <a href="https://torproject.org">Tor</a> network.
        We've transfered over {{ bandwidth }} of encryped data since last reset.<br>
        Relay Fingerprint: 86D16D751953D24F4D3880015AC47B24503F62C7 | Nickname: IPreferFreedom</p>
    </div>
  </div>
</div>
<br>
<div class="card">
  <div class="card-block">
    <div class="text-canvas">
      <h2>Background</h2>
      <p>Hi I'm Nick! I'm coder, hacker, and overall tech enthusiast specializing in cyber security. </p>
    </div>
  </div>
</div>
<br>
<div class="card">
  <div class="card-block">
    <div class="text-canvas">
      <h2>Education and Certifications</h2>
      <div class="row">
        <div class="col-md">
          <p>
            <img src="/images/home/isu_seal.svg" class="img-responsive" width=30%/><br>
            B.S. Computer Science<br>
            Illinois State University
          </p>
        </div>
        <div class="col-md">
          <p>
            <img src="/images/home/gpen.png" class="img-responsive" width=30%/><br>
            GPEN (Giac Penetration Tester)<br>
            <a href="https://www.giac.org/certified-professional/nicholas-frichette/163907">My Entry in the professionals list</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<div class="card">
  <div class="card-block">
    <div class="text-canvas">
      <h2>Projects</h2>
      <p>I always have a side project going on, here are some of my favorite. Check out my
        <a href="https://github.com/Frichetten/">GitHub</a>
         for a more exhaustive list.</p>
      <div class="row">
        <div class="col-md">
            <p><img src="/images/home/bulldog.png" class="img-responsive"/></p>
            <h4 style="text-align:center"><a href="https://github.com/Frichetten/Bulldog">
              Bulldog Vulnhub VM</a></h4>
            <p>A intentionally insecure VM designed to teach common web application
               vulnerabilities. I wrote it in Django and it was accepted to
               <a href="https://www.vulnhub.com/entry/bulldog-1,211/">VulnHub</a>
               where it was played and reviewed by a number of people.</p>
        </div>
        <div class="col-md">
            <p><img src="/images/home/terminal_icon.png" class="img-responsive"/></p>
            <h4 style="text-align:center"><a href="https://github.com/Frichetten/frichetten.github.io">
              Personal Website</a></h4>
            <p>The website you're looking at right now! Fully MEAN stack (MongoDB, Express, Angular,
               and Node) and hosted on Digital Ocean using Nginx as the reverse proxy.</p>
        </div>
        <div class="col-md">
            <p><img src="/images/home/specter_i.png" class="img-responsive"/></p>
            <h4 style="text-align:center"><a href="https://github.com/Frichetten/specter">
              Specter</a></h4>
            <p>Specter is a MIT licensed open source cryptocurrency I developed to learn more about
               blockchain technology. Rather than trying to go for an ICO or getting listed on an
               exchange, Specter is meant to be a testbed for new blockchain technologies.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<div class="card">
  <div class="card-block">
    <div class="text-canvas">
      <h2>Awards and Achievements</h2>
      <div class="row">
        <div class="col-md">
          <h4 align="center">P0wn The Machine</h4>
          <p>Was a first place winner of the 2017 P0wn the Machine competition, a yearly
             event for State Farm employees to safely hack the company. This year's topic
             on data exfiltration. I placed first out of over 60 professional
             security analysts.</p>
        </div>
        <div class="col-md">
          <h4 align="center">HackDay 2017</h4>
          <p>During HackDay 2017 (State Farm's annual Hackathon) I built a prototype
             that detected spear phishing emails using a Beysian Classifier. This
             Machine Learning prototype was able to accurately detect spear phishing 87%
             of the time.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md">
          <h4 align="center">Packback Experiences Member</h4>
          <p>Due to earning the top ranking in my Packback class (#1 out of 200), I was
             offered a spot in the exclusive Packback Experiences program. The project
             seeks to place hard working students with employment and growth
             opportunities. I got to speak personally with the cofounder of the startup
             and talk about working in a startup culture.</p>
        </div>
        <div class="col-md">
          <h4 align="center">Intern Speech Master Class & Finalist</h4>
          <p>The speech team I was a part of competed against other teams in a speech competition.
             We made it to the finals with our presentation on Cyber-Insurance. In addition
             I was selected as one of the 16 (out of 100+) to participate in the Speech
             Master class. Interns were selected based on their outstanding speaking and
             presenting skills.</p>
        </div>
      </div>
    </div>
  </div>
</div>
