body {
  font-family: 'Lato', sans-serif;
}

.nav {
  background-color: #f1f1f1;
  color: #FFF;
  list-style-type: none;
  max-width: 60%;
  min-width: 50%;
  height: 100%;
  align-items: left;
}

ul {
  list-style-type: none;
  text-decoration: none;
  max-width: 100%;
  font-size: 15%;
}

li a {
  color: black;
  max-width: 100%;
}

.main {
  display: inline;
  float: relative;
  align-items: right;
}
