body {
  font-family: 'Lato', sans-serif;
}

.nav {
  background-color: #f1f1f1;
  color: #FFF;
  list-style-type: none;
  width: 15%;
  height: 100%;
  position: fixed;
  overflow: auto;
  a:visited { text-decoration: none; color:black;
}

.main {
  display: inline;
}
