body {
  font-family: 'Lato', sans-serif;
}

.nav {
  background-color: #f1f1f1;
  color: #FFF;
  list-style-type: none;
  width: 10%;
  height: 100%;
  position: fixed;
  overflow: auto;
}

li a {
  color: black;
  border: 1px solid #111;
}

.main {
  display: inline;
  float: right;
}
