<br>
<div class="card">
  <div class="card-block">
    <div class="text-canvas">
      <div class="row">
        <div class="col-md" *ngFor="let article of articles;" style="margin-top:2em">
            <p align="center"><img src="/images/thumbs/{{ article.link }}" class="img-responsive"/></p>
            <h4 style="text-align:center"><a href="/blog/{{ article.link }}">
              {{ article.title }}</a></h4>
            <p align="center">{{ article.published }}</p>
            <p align="center">{{ article.synopsis }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
