img.circle-avatar {
  display: block;
  margin: 0 auto;
  width: 40%;
  height: auto;
  border-radius: 50%;
}

div.col-md > p {
  text-align: center;
}

div.col-md > div > img {
  float: left;
  margin-right: 2%;
}

div.card {
  background-color: rgba(30,30,30,.8);
}

div.text-canvas {
  margin: 1em;
}

a.fa {
  padding: 6px;
  font-size: 50px;
}

#particles-js {
  /* background:#b71212; */
  position: fixed;
  top:0;
  right:0;
  left:0;
  bottom:0;
  z-index:-1;
}

@media (max-width: 995px){
  img.circle-avatar {
    display: block;
    margin: 0 auto;
    width: 55%;
    height: auto;
    border-radius: 50%;
  }
}

@media (max-width: 479px){
  img.circle-avatar {
    display: block;
    margin: 0 auto;
    width: 75%;
    height: auto;
    border-radius: 50%;
  }

  div.col-md > div > img {
    float: left;
    margin-right: 2%;
    width: 30%;
  }
}
