#particles-js {
  /* background:#b71212; */
  position: fixed;
  top:0;
  right:0;
  left:0;
  bottom:0;
  z-index:-1;
}

a.fa {
  padding: 6px;
  font-size: 50px;
}

div.text-canvas {
  margin: 1em;
}
