<br>
<div class="card">
  <div class="card-block">
    <div class="text-canvas">
      <div class="row">
        <div class="col-md" *ngFor="let article of articles; index as i;" style="margin: 2em;min-width:200px;">
            <a routerLink="/blog/{{ article.link }}" >
            <p align="center"><img *ngIf="i < 4" src="/images/thumbs/{{ article.link }}" class="img-responsive" style="width:200px;height:150px;"/></p>
            <h4 style="text-align:center">{{ article.title }}</h4></a>
            <p align="center">{{ article.published }}</p>
            <p align="center">{{ article.synopsis }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
